PROJECT_ID=candidatesignal
REGION=us-central1
ZONE=us-central1-a

ARTIFACT_REPOSITORY=candidatesignal
DOCUMENT_BUCKET=candidatesignal-prod-documents

SQL_INSTANCE=candidatesignal-postgres
SQL_DATABASE=resume_intel
SQL_USER=resume_intel
SQL_TIER=db-f1-micro
SQL_STORAGE_GB=20

OCR_SERVICE=candidatesignal-ocr
OCR_CPU=4
OCR_MEMORY=16Gi
OCR_TIMEOUT=3600
OCR_MAX_INSTANCES=1
OCR_MIN_INSTANCES=0

VM_NAME=candidatesignal-app-1
VM_MACHINE_TYPE=e2-medium
VM_BOOT_DISK_SIZE=30GB

VM_SERVICE_ACCOUNT=cs-vm-sa
OCR_SERVICE_ACCOUNT=cs-ocr-sa
